body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
  }
  
  #main {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(234, 234, 234);
  }
  
  .td_Del {
    cursor:pointer
  }

  .td_Sel {
    cursor:pointer
  }

  #container_1 {
  
    padding-top: 20px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    height: 180px;
    background-color: rgb(234, 234, 234);
  }
  
  
  .paramButton {
    width: 80px;
    background-color: rgb(95, 95, 95);
    text-align: center;
    padding-top: 5;
    padding-bottom: 5;
    margin: 4px 4px;
    cursor: pointer;
    display: inline-block;
    color:white;
    border-radius: 8px;
  }

  .loginButton {
    width: 120px;
    background-color: rgb(95, 95, 95);
    text-align: center;
    padding-top: 5;
    padding-bottom: 5;
    margin: 14px 14px;
    cursor: pointer;
    display: block;
    color:white;
    border-radius: 8px;
  }
  
  
  
  #container_2 {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color:  rgb(234, 234, 234);
  }
  
  
  #container_3 {
    margin: auto;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
    background-color:  rgb(234, 234, 234);
  }
  
  #container_4 {
    overflow: hidden;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(234, 234, 234);
  }
  
  #container_4_1 {
    float: left;
    width: 234px;
    background-color:  rgb(234, 234, 234);
  }
  
  #container_4_2 {
    float: left;
    overflow: hidden;
    width: 300px;
    background-color:  rgb(234, 234, 234)
  }
  
  
  #container_5 {
    padding-top: 20px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    height: 20px;
    background-color:  rgb(234, 234, 234);
  }
  
  #container_6 {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color:  rgb(234, 234, 234);
  }
  
  
  #container_7 {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    background-color:  rgb(234, 234, 234);
    height: 40px;
    text-align: center;
  }
  
  
  .table thead {
    position: sticky;
    top: 0;
  }
  
  .table thead th {
    border: 0px solid #e4eff8;
    background: white;
    cursor: pointer;
  }

  .table {
    background: white;
  }
  
  .table thead th.header-label {
    cursor: pointer;
    background: rgb(96, 154, 141);
    color: white;
     
  }
  
  .table th,
  .table td {
    padding: 0.2rem 0.5rem;
    text-align: left;
  }

  .td_min_150 {
    min-width: 150px;
  }

  .td_min_234 {
    min-width: 234px;
  }

  .td_min_300 {
    min-width: 300px;
  }

  .td_min_500 {
    min-width: 500px;
  }
  
  

  .table .tr-inputs th {
    position: relative;
    padding: 0;
    padding-bottom: 1.2rem;
    margin: 0;
  }
  
  .table .tr-inputs div {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .table input {
    width: 100%;
    box-sizing: border-box;
  }